<configuration>
  <appSettings>
    <!-- 
      In the default example values, you are planning to live a comfortable, 
      but not extravagent life in early-retirement.
      
      Once you reach traditional retirement age, your income effectively doubles, 
      and you kick into a more comfortable lifestyle.
    
      Example Starting Age: 
       - Current: 39
       - Early-Retirement: 45
       - Traditional Retirement: 67 (Social Secuirty Age Estimate)
    -->
    <add key="CurrentAge" value="39" />
    <add key="EarlyRetirementAge" value="45" />
    <add key="TraditionalRetirementAge" value="67" />

    <!-- 
      Example Starting Balance: 
       - $1,000,000 Traditional
       - $0 Roth 
    -->
    <add key="TraditionalBalance" value="1000000" />
    <add key="RothBalance" value="0" />
    <add key="BrokerageBalance" value="0" />
    <add key="CryptoBalance" value="0" />
    
    <!--
      To achieve 12" tax rate, you must be below these figures
      As of 2023
      - Single: $44,725 (Default)
      - Married filing jointly: $89,450 
    -->
    <add key="RothConversion" value="44725" />
    
    <!-- Distributions after retirement age i.e. "TraditionalRetirementAge" app setting (or, 62) -->
    <add key="RetirementTraditionalDistribution" value="44725" />
    <add key="RetirementRothDistribution" value="44725" />
  </appSettings>
</configuration>